html {
    background-color: #24273a;
    font-family: "Courier New", monospace;
    color: #fff;
}

#reloj {
    text-align: center;
    margin-top: 10%;
}

.reloj-contenedor {
    background-color: #000;
    padding: 25px;
    max-width: 600px;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
    text-align: left;
}

pre {
    font-size: 20px;
    color: #ff4081;
    text-shadow: 0px 0px 1px #ff4081;
    text-align: left;
}

span {
    color: #ffffff;
}

.tipo{
    color: #bca0d8
}

.string {
    color: #5fdb73;
}
.clock{
    color: #e3ad6f;
}
.animar{
    border: rgb(0, 0, 0) 2px solid;
}
